<div class="center jumbotron">
  <h1>The Members ONLY Club</h1>

  <h2>
    This is the homepage for the members only club.  You can read and see what's going around your area, but only members who log in can see the author names.
  </h2>
